.login-view {
  background-color: $white;
  margin-top: 20px;

  .-content {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;

    .-welcome {
      font-size: 18px;
    }
  }
}
